<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CuratingMapper">

 	<resultMap id="CuratorSelectMap" type="curator">
 		<result property="curId" 	column="cur_id" 	jdbcType="INTEGER"/>
 		<result property="purpose" 	column="purpose" 	jdbcType="VARCHAR"/>
 	</resultMap>
 	
	<resultMap id="QuestionSelectMap" type="question">
		<result property="queId"	column="que_id" 	jdbcType="INTEGER"/>
		<result property="curId"	column="cur_id" 	jdbcType="INTEGER"/>
		<result property="qSente" 	column="qsente" 	jdbcType="VARCHAR"/>
		<result property="qProd" 	column="qprod" 		jdbcType="VARCHAR"/>
		<result property="qType"	column="qtype" 		jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="AnswerSelectMap" type="answer">
		<result property="ansId" 	column="ans_id" 	jdbcType="NUMERIC"/>
		<result property="aSente" 	column="asente" 	jdbcType="VARCHAR"/>
		<result property="aSpec" 	column="aspec" 		jdbcType="VARCHAR"/>
		<result property="queId" 	column="que_id" 	jdbcType="NUMERIC"/>
	</resultMap>
	
	
	<!-- SQL : SELECT -->
	<select id="getCurator" parameterType="integer" resultMap="CuratorSelectMap">
		SELECT cur_id, purpose
		FROM CURATORS
		WHERE cur_id = #{value}
	</select>
	
	<select id="getQuestionList" parameterType="integer" resultMap="QuestionSelectMap">
	    SELECT cur_id, que_id, qsente, qprod, qtype
		FROM questions
		WHERE cur_id = #{value}
	</select>
	
	<select id="getAnswerList" parameterType="integer" resultMap="AnswerSelectMap">
	    SELECT ans_id, que_id, asente, aspec
		FROM answers
		WHERE que_id = #{value}
	</select>


	
	<!-- 
	<insert 	id="updateQuestion"		parameterType="question" >
	 	INSERT
		INTO questions(que_id, cur_id, qsente, qprod, qtype) 
		VALUES (#{questionCode}, #{curatingCode}, #{questionText}, #{prodKind}, #{answerFormat})			
	 </insert>
	 <insert id="updateAnswer" parameterType="answer">
     	INSERT
		INTO answers(ans_id, que_id, asente, aspec) 
		VALUES (#{answerCode}, #{questionCode}, #{answerText}, #{answerKeyword})
	 </insert> 
	 -->
</mapper>