<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

 	<resultMap id="UserSelectMap" type="user">
 		<result property="userId" 	  column="user_id" 	    jdbcType="INTEGER"/>
 		<result property="email" 	    column="email" 		    jdbcType="VARCHAR"/>
 		<result property="pwd" 		    column="password" 	  jdbcType="VARCHAR"/>
 		<result property="proPic" 	  column="propic" 	    jdbcType="VARCHAR"/>
 		<result property="userAccess" column="user_access" 	jdbcType="VARCHAR"/>
 	</resultMap>
 	
	<!-- SQL : get Domain -->
	<select id="getUser" parameterType="string" resultMap="UserSelectMap">
		SELECT user_id, email, password, propic, user_access
		FROM USERS
		WHERE email = #{email}
	</select>
	
	<select id="getUserJoinCheck" parameterType="string" resultType="integer">
		SELECT COUNT(*)
		FROM USERS
		WHERE email = #{value}
	</select>

	<!-- SQL : INSERT -->
	<insert id="insertUser" parameterType="user">
	 	INSERT 
		INTO USERS(user_id, email, password, propic, user_access) 
		VALUES (USERID_SEQ.NEXTVAL, 
				#{email}, 
				#{pwd}, 
				<if test="proPic != null">#{proPic},</if>
				<if test="proPic == null">null,</if>
				#{userAccess})			
	 </insert>
	 
	 <!-- SQL : UPDATE -->
	<update id="updateUser" parameterType="user">
		UPDATE USERS
		SET email = #{email},
		password = #{pwd},
		propic = #{proPic}
		WHERE user_id = #{userId}
	</update>
 
 
 
	<!-- SQL : DELETE -->
	<delete id="deleteUser" parameterType="integer">
		DELETE USERS
		WHERE user_id = #{userId}
	</delete>

</mapper>