header {
	background-image: url() !important;
	min-height: 400px;
}

#accordion {
	width: 90%;
	margin: 0 auto;
}

.li_wrap {
	position: relative;
	margin: 8px 0px 2px;
}

.li_wrap .image_url {
    width: 100%;
    float: left;
}

.li_wrap .li_info1 {
    float: left;
    padding: 5px 0px 5px 10px;
}

.li_wrap .li_info2 {
    float: right;
	font-size: 1.4em;
    margin-right: 20px;
    font-weight: 600;
}

.li_wrap .price {
    text-align: center;
    font-size: 1.2em;
    margin-top: 6px;
}

.li_hr {
    clear: both;
    background-color: lightblue;
    margin-right: 5px;
    height: 3px;
}

#summaryInfo {
	font-size: 0px;
}
p.maker {
  font-size: 1.5em;
  font-weight: 700;
  text-indent: 1.5em;
}
p.prod_name {
    font-size: 1.5em;
    font-weight: 700;
    text-indent: 1.7em;
}

.summary {
    font-size: 1.2em;
    padding: 0 1.2em;
}
.compl_price {
   clear: right;
   font-weight: 800;
   font-size: 1.4em;
}
.compl_change{
   float: right;  
}

.panel-heading {
	padding: 0px;
	background-color: rgba(0, 0, 0, .0) !important;
}

.panel-body {
	color: rgba(0, 0, 0, .7);
}

.panel-title{
	background-color: rgba(0, 0, 0, .0);
}

.btn-width {
  min-width: 100%;
}

.btn-primary {
	background-color: #337ab7 !important;
}

#curatingSave {
	margin-top: 20px;
	width: 100px;
}

#cur_save_btn {
	text-align: center;
}

#cp_move #accordion .btn:after {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  margin-left: 15px;
  float: right;
}

#cp_move #accordion .btn.collapsed:after {
  content: "\e080";
}

#cp_move #accordion .btn {
  border-radius: 0px !important;
  background-color: rgba(0, 0, 0, 0.5);  
}

#cp_move {
	height: 70%;
}

#cp_move .row {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

.bg-primary {
    background-color: rgba(0, 0, 0, .0);
}

.product_name {
	text-align: left !important;
	padding-left: 3em;
}

.prod_name{
	display: inline-block;
}
.maker {
	display: inline-block;
}

#bg_img {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url(/img/curatingcomplete.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: none;
	background-size: cover;
}

#myModal .image_url {
	width: 200px;
}

#myModal hr {
	max-width: 100% !important;
}
.modal-backdrop.fade.in {
    height: 100%;
    position: fixed;
    z-index: -1;
}