html ,body{
   height: 100%;
 }
 body{
   background-color: black;
   background-size: cover;
   margin: 0px;
 }

 .main_wrap{
   background-color: white;
   position : relative;
   margin :0px auto;
   width : 1024px; 
   min-height : 100%;
   
 }

 .header_wrap{
   
   position : absolute;
   margin :0px auto;
   width : 1024px;
   height : 15%;
 }

 .question_area{
   position : absolute;
   top : 15%;
   margin-left: 5%;
   height: 81%;
   width : 90%;
 }

 .mainlogo4 {
   font-weight: bold;
   font-size: 4.5em;
   font-family: 'Montserrat', sans-serif, 'Arial Black';
   font-style: normal;
   text-decoration: none;
   text-shadow: rgb(158, 158, 158) 3px 3px 5px;
   float: left;
   margin-top: 5px;
   margin-left: 20px;
 }
 .mainlogo4 .pagename {
   font-size: .5em;
   text-shadow: none;
 }   
 #header {
   position: relative;
   width: 1024px;
   height: 15%;
   margin: 0 auto;
 }

 .log-form {
   float: right;
   margin: 10px 5px 0px 0px;
 }
 .log-form .user-icon-size {
   font-size: 4em;
   margin-left: 10px;
   margin-top: 10px;
 }
 .log-form .log-input {
   float: left;
 }
 #accordion div:nth-child(2n){
   max-height: 65%;
   overflow: auto;
 }

.footer { 
  position: absolute;
  width: 100%;
  bottom: 0%;
  height:5%;
}

.db_send_btn{
  position: absolute;
  margin-left: 92%;
  width: 7%;
  text-align: center;
  margin-top: 0.1%;
}
        
