.delete-btn {
    width: 4%;
    margin-left: 18px;
    vertical-align: baseline;
}
.answer-delete-btn {
    width: 4%;
    vertical-align: baseline;
    margin-left: 5px;
}
.answer-add-btn {
    width: 4%;
    vertical-align: baseline;
    margin-left: 5px;
}
.question-add-btn {
    vertical-align: text-top;
    text-align: right;
    margin-left: 10px;
}
.question_area.size {
    width: 70%;
    margin: 0 auto;
}
select {
    width: 12%;
    height: 40px;
    vertical-align: top;
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}
.question_texts {
    width: 67%;
}
section {
    padding: 40px 0; !important;
}
.curating_code {
    border-radius: 20px;
    margin-left: 85px;
    margin-bottom: 15px;
}
.answer_text {
    width: 62%;
    height: 35px;
    margin-left:10px;
}
.answer_hidden {
    width: 25%;
    height: 35px;
    margin-left:10px;
}
input[type=text] {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    float: left;
}

.nav.purpose {
    width: 70%;
    margin: 0 auto;
}
