header {
	min-height: 400px;
	background-image: url()
}

.header-content {
	padding: 100px 15px !important;
}

#start-curating {
	background-color: rgba(0, 0, 0, .0) !important;
}

#cur_move {
	background-color: #337ab7 !important;
}

.db_send_btn {
	width: 150px;
	background-color: rgba(25, 25, 25, .7) !important;	
	color: white;
}

#save_btn {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

#bg_img {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url(/img/curatingpage.jpg);
	background-repeat: none;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}