 html ,body{
  height: 100%;
}
body{
  background-color: black;
  background-size: cover;
  margin: 0px;
}

.main_wrap{
  background-color: white;
  position : relative;
  margin :0px auto;
  width : 1024px; 
  min-height : 100%;
  
}

.header_wrap{
  
  position : absolute;
  margin :0px auto;
  width : 1024px;
  height : 15%;
}

.question_area{
  position : absolute;
  top : 15%;
  height: 81%;
  width : 1024px;
}
                        
  .header_name{
    position : absolute;
    left : 5%;
    font-weight : bold;
    font-size : 20px;
    width : 25%;
    height : 50%;
    margin-top : 35px;
  }

  .header_loginview{
    position : absolute;
    right : 5%;
    width : 25%;
    height : 50%;
    margin-top : 35px;
  }

  .question .product_value{
    position : absolute;
    margin-left : 5%;
    margin-top: 3%;
    width : 13%;
  }
  .question .answer_value{
    position : absolute;
    margin-left : 19%;
     margin-top: 3%;
    width : 13%;
  }

  .login{
    position : absolute;
    right : 5px;
    font-size : 20px;

  }

  .question_admin_area{
    border-bottom: 1px solid white;
    position : absolute;
    top : 15%;
    width : 1024px;
    height : 81%;
    overflow: auto;
    background-color : transparent;
  }


  .question_answer_area{
    border-bottom: 1px solid white;
    position : relative;
    margin : 0 auto;
    width : 95%;
    margin-top: 30px;

  }
  .question .question_texts{
    position : absolute;
    margin-top : 7%;
    margin-left : 5%;
    width : 78%;
  }

 .answer_text{
    position : absolute;
    width : 54%;
    margin-left : 5%;
  }

  .question{
    border : 1px solid transparent;
    height : 20%;
  }

  .answer{
    height : 7%;
    border : 1px solid transparent;
    text-align : center; 
  }

  .curating_code{
    position : fixed;
    margin-left : 3.5%;
    width : 16.2%;
    z-index: 10;

  }
  .question .deletebtn{
    position : absolute;
    margin-left : 33%;
     margin-top: 3%;
    width : 4%;
  }

  .question .addbtn{
     margin-top: 3%;
    position : absolute;
    margin-left : 38%;
    width : 4%;
  }

.answer .answer_hidden{
    position : absolute;
    margin-left : 60%;
    width : 23%;
  }

  .question .question_index{
    position : absolute;
    width : 3%;
    margin-left: 1%;
    margin-top : 3.3%;
  }

  .answerdeletebtn{
    position : absolute;
    width : 4%;
    margin-left : 34%; 
  }
   .answeraddbtn{
    position : absolute;
    width : 4%;
    margin-left : 39%; 

  }

  .mainlogo4 {
    font-weight: bold;
    font-size: 4.5em;
    font-family: 'Montserrat', sans-serif, 'Arial Black';
    font-style: normal;
    text-decoration: none;
    text-shadow: rgb(158, 158, 158) 3px 3px 5px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
  }
  .mainlogo4 .pagename {
    font-size: .5em;
    text-shadow: none;
  }   
  #header {
    position: relative;
    border-bottom: 1px solid white;

    width: 1024px;
    height: 15%;
    margin: 0 auto;
  }

  .log-form {
    float: right;
    margin: 10px 5px 0px 0px;
  }
  .log-form .user-icon-size {
    font-size: 4em;
    margin-left: 10px;
    margin-top: 10px;
  }
  .log-form .log-input {
    float: left;
  }
  
   .footer { 
    position: absolute;
    width: 100%;
    bottom: 0%;
    height:5%;
  }
  
  .db_send_btn{
    position: absolute;
    margin-left: 92%;
    width: 7%;
    text-align: center;
    margin-top: 0.1%;
  }