@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: "Nanum Gothic", sans-serif;
}

#login-button {
	margin-left: 100px;
	margin-top: 100px;
}

.modal-title {
  text-align: center;
}

#btn-login {
  position: relative;
}

#join-Modal .modal-body {
	background-color: #F2F2F2;
}
#join-Modal .modal-header {
	background-color: #C0C0C0;
}

#propic-preview, #propic-div {
	border: 1px solid black;
	width: 368px;
	height: 368px;
}

#join-Modal .modal-content {
	width: 400px;
	margin: 0 auto;
}

#propic-upload {
	width: 368px;
}

#btn-join {
	width: 79px;
	height: 34px;
	margin: 0 auto;
}

#logout-a {
	display: none;
}

.check-output {
	display: inline; !importent;
	margin-bottom: 0px;
	margin-left: 10px;
	
	line-height: 2em;
	font-size: 0.8em;
	color: #737373;
}

#update-propic-upload {
	width: 100%;
}

#curating .col-lo-4, .col-sm-6 {
	padding-left: 0px !important;
  padding-right: 0px !important;
}

.curating_purpose {
  position: relative;
  height: 311px;
  width: 100%;
  background-image: url("/img/portfolio/default.jpg");
  background-size: cover;
}

#curating a {
	color: blue;
	text-weight: bold;
	text-align: center;
}

#curating p {
  color: white;
  background-color: rgba(25, 25, 25, 0.5);	
}

#curating a:hover {
	text-decoration: none;
}